h2 {
    clear: both;
}

.concept {
    font-weight:normal;
    text-align: justify;
    text-indent: 10%;
}

.placeholder{
    clear: both;
    display: block;
}

.elt {
    display: flex;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    margin: 40px;

    height: auto;

}

.titre {
    clear: both;
    padding-top: 30px;
}

.p1 {

    float: left;

}

.img1 {
    max-width: 49%;
    height: auto;
    margin-right: 40px;
    float: right;

}

.p2 {

    float: right;
}

.img2 {
    float: left;
    max-width: 49%;
    height: auto;
    margin-left:40px;
}


/* ------------------- CLOCK DISPLAY ----------------------- */

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid var(--text-theme-color);
    border-radius: 50%;
    margin: 50px auto;
}

.hand,
.line {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 1px;
    background: var(--text-theme-color);
    transform-origin: bottom;
    margin:-.5px;
    transform: translate(-50%, -50%);
}

.hour {
    height: 50px;
}

.minute {
    height: 70px;
}

.second {
    height: 90px;
    background: red;
}

.number {
    --angle: 45deg;
    display: block;
    position: absolute;
    width: fit-content;
    left: calc(50% + (50% + 15px) * cos(var(--angle)));
    top: calc(50% + (50% + 15px) * sin(var(--angle)));
    transform: translate(-50%, -50%);
}

.line {
    background: linear-gradient(var(--text-theme-color) 30%, transparent 30%);
    left: 50%;
    bottom: 50%;
    height: 65px;
    rotate: var(--angle);
}

.line.big {
    background: linear-gradient(var(--text-theme-color) 45%, transparent 45%);
    margin: 0 -1px;
    width: 2px;
}

#time {
    flex-direction: row;
    justify-content: center;
}

#time > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:920px) {

    .concept {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .elt {
        display: flex;
        width: 50%;
        height: 200px;
        align-items: center;
    }

    .titre {
        clear: both;
    }


    .img1,
    .img2 {
        width: 60%;
    }

    .p1,
    .p2 {
        width: 60%;
        clear: both;
        height: auto;
    }

    #time {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    #time > div {
        width: 100%;
    }
}