footer {
    clear: both;
}

.histoire {
    font-weight:normal;
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 10%;
}

.placeholder{
    clear: both;
    display: block;
}

.elt {
    display: flex;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    margin: 40px;

    height: auto;

}

.titre {
    clear: both;
    padding-top: 30px;
}

.p1 {

    float: left;

}

.img1 {
    max-width: 49%;
    height: auto;
    margin-right: 40px;
    float: right;

}

.p2 {

    float: right;
}

.img2 {
    float: left;
    max-width: 49%;
    height: auto;
    margin-left:40px;
}


@media (max-width:920px) {
    h2 {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .histoire {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .elt {
        display: flex;
        width: 50%;
        height: 200px;
        align-items: center;
    }

    .titre {
        clear: both;
    }


    .img1,
    .img2 {
        width: 60%;
    }

    .p1,
    .p2 {
        width: 60%;
        clear: both;
        height: auto;
    }



}