#quotes > * {
    width: 100%
}

/* Les enfants de quote alignent leurs élément de manière alternée, soit à droite soit à gauche */
#quotes > :nth-child(2n) {
    align-items: start;
    text-align: start;
}

#quotes > :nth-child(2n + 1) {
    align-items: end;
    text-align: end;
}


/* La largeur du texte des citations est limité, pour laisser un espace
    et bien montrer l'alternance d'alignement */
#quotes > * > * {
    max-width: 60%;
}

/* ------------------------ CLOCK NAV ------------------------ */

/* Aiguille de l'horloge */
#handle {
    transform-origin: center;
    rotate: 0deg;
    transition: rotate ease-in .2s;
}

#nav {
    margin: 50px;
    max-width: 100vw;
    /* Taille réduite pour mobile */
    transform: scale(82%);
}

/* Parent des liens, sert d'ancre pour leur placement */
#clock-links {
    position: absolute;
    z-index: 10;
    height: 100%;
    font-size: large;
    width: 100%;
}

#clock-links > * {
    margin: 0;
    position: absolute;
    text-decoration: none;
    left: 50%;
    /* Centre les liens par rapport à la position où ils sont placés */
    transform: translate(-50%,-50%);
}

/* Affichage ordinateur : le nav a une taille normale */
@media (min-width:576px) {
    #nav {
        transform: scale(100%);
    }
}

/* ---------------------------- NAVIGATION LINKS ----------------------------
    On calcule la position des éléments avec leur angle par rapport au centre, puis le sinus et cosinus de cet angle
*/

#clock-links :nth-child(1) {
    top:-15px;
}

#clock-links :nth-child(2) {
    top: 20px;
    left: calc(50% + 130px);
}

#clock-links :nth-child(3) {
    left: calc(50% + 175px);
    top: 50%;
}

#clock-links :nth-child(4) {
    top: calc(100% - 20px);
    left: calc(50% + 130px);
}

#clock-links :nth-child(5) {
    top:calc(100% + 15px);
}

#clock-links :nth-child(6) {
    top: calc(100% - 20px);
    left: calc(50% - 130px);
}

#clock-links :nth-child(7) {
    left: calc(50% - 175px);
    top: 50%;
}

#clock-links :nth-child(8) {
    top: 20px;
    left: calc(50% - 130px);
}

/* ---------------------------- LINK HOVER EFFECT ----------------------------
    Le JS n'étant pas autorisé, l'effet n'est pas fonctionnel sur Mozilla Firefox (mais l'est sur tout autre
    navigateur) qui ne supporte pas le sélecteur :has(), et n'est pas exactement aussi développé que
    nous l'aurions espéré
    Lorsqu'un lien est en hover ou en focus, l'aiguille se tourne vers lui.
*/

#nav:has(> #clock-links :nth-child(2):hover, > #clock-links :nth-child(2):focus) #handle {
    rotate: 45deg;
}

#nav:has(> #clock-links :nth-child(3):hover, > #clock-links :nth-child(3):focus) #handle {
    rotate: 90deg;
}

#nav:has(> #clock-links :nth-child(4):hover, > #clock-links :nth-child(4):focus) #handle {
    rotate: 135deg;
}

#nav:has(> #clock-links :nth-child(5):hover, > #clock-links :nth-child(5):focus) #handle {
    rotate: 180deg;
}

#nav:has(> #clock-links :nth-child(6):hover, > #clock-links :nth-child(6):focus) #handle {
    rotate: -135deg;
}

#nav:has(> #clock-links :nth-child(7):hover, > #clock-links :nth-child(7):focus) #handle {
    rotate: -90deg;
}

#nav:has(> #clock-links :nth-child(8):hover, > #clock-links :nth-child(8):focus) #handle {
    rotate: -45deg;
}