main{
    margin-top: 75px;
}
.formLetter{/*disposition des elements dans le formulaire*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}
fieldset{
    padding: 1%;
    margin: 1%;
    border: 2px solid var(--theme-accent-color) ;
    border-radius: 4px;
    padding: 1vw;
}
input, textarea, .btn > a {
    border: 1px solid var(--main-theme-color);
    border-radius: 5px;
    padding: 2px 5px;
}
button, input[type="submit"], .btn > a {
    border-radius: 5px;
    border: 2px solid var(--theme-accent-color);
}

/*ici, on définit la taille des différents éléments du formulaire, ainsi que du formulaire lui-même*/
.formLetter {
    width: max-content;
}
.formLetter #prenom,#nom,#courriel,#start,#start{
    height: 2vw;
}
.formLetter #prenom,#nom{
    width: 10vw;
}
.formLetter #courriel{
    width: 15vw;
}
.formLetter #start{
    width: 7.7vw;
    color: #757575;
}
.signupbtn {/*style du bouton*/
    background-color:black;
    color: white;
    padding: 0 2vh;
    cursor: pointer;
    width: max(30%, fit-content);
    border-radius: 5px;
    height: 5vh;
}
.signupbtn:active {
    opacity: 0.5;
    color: white;
}
.formLetter > label{
    position: relative;
    left: 35%;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn{ /*disposition des éléments dans la partie bouton (pour connexion.html)*/
    display: flex;
    justify-content: space-evenly;
}
.Connexion{
    cursor: pointer;
    height: 3.5vh;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5vh;
    border-radius: 5px;
}