main{
    margin-top: 75px;
}
.formLetter{/*disposition des elements dans le formulaire*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}

fieldset{
    padding: 1%;
    margin: 1%;
    border: 2px solid #afcfd9 ;
    border-radius: 4px;
    padding: 1vw;
}
/*ici, on définit la taille des différents éléments du formulaire*/
.formLetter #prenom,#nom,#courriel,#start,#start{
    height: 2vw;
}
.formLetter #prenom,#nom{
    width: 10vw;
}
.formLetter #courriel{
    width: 15vw;
}
.formLetter #start{
    width: 7.7vw;
    color: #757575;
}
.signupbtn {/*style du bouton*/
    background-color:black;
    color: white;
    padding: 0.4vh;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    height: 5vh;
}
.signupbtn:active {
    opacity: 0.5;
    color: white;
}
.formLetter > label{
    position: relative;
    left: 35%;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn{ /*disposition des éléments dans la partie bouton (pour connexion.html)*/
    display: flex;
    justify-content: space-evenly;
}
.Connexion{
    cursor: pointer;
    height: 3.5vh;
    color: black;
    text-decoration: none;
    padding: 0.5vh;
    border: 1px solid black;
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-theme-color: black;
        --secondary-theme-color: rgb(20, 20, 20);
        --text-theme-color: white;
        --theme-box-shadow: 0 1px 8px 3px rgba(255, 255, 255, 0.2);
    }
    .btn{
        color: white;
    }
    .Connexion{
        background-color: white;
    }
    .inscription{
        background-color: white;
    }
}